@media only screen and (min-width: $screen-size-mobileA) and (max-width: $screen-size-mobileB) {
  // настройка header
  @mixin header-style-mobile {
    width: 100%;
    height: 88px;
    display: flex;
    background-color: $bgColorHeader;
    justify-content: space-evenly;
  }

  .header--mobile {
    @include header-style-mobile;

    .header--mobile__item {
      margin: auto 0;
    }
    .header__item--divider {
      height: 32px;
    }
    .header--mobile-container {
      display: flex;
      gap: 16px;
    }
  }

  // настройка тайтла "Услуги и сервисы"
  .title__item {
    display: flex;
    margin: 25px 0 24px;

    .title__item-greenLine {
      margin-right: 12px;
    }

    h1 {
      font-family: "TTLakes Bold";
      margin: auto 0;
    }
  }

  // настройка slide-menu
  .slide--menu {
    display: flex;
    list-style-type: none;
    overflow-x: auto;

    li {
      padding: 9px 15px;
      white-space: nowrap;
      margin-right: 10px;
    }

    li:focus {
      border: 2px solid $bgColorBorder;
      border-radius: 10px;
      background-color: $bgColorLiFocus;
      color: $colorText;
    }
  }

  // настройка info
  .info {
    margin: 16px;

    .hidden-item {
      display: none;
    }
    .info-read {
      margin: 16px;

      .info-read__button {
        background: none;
        border: none;
        font-family: "TTLakes Medium";
        font-size: 16px;
      }
      #info-read__img {
        transition: transform 0.5s;
        margin-right: 8px;
      }
    }
  }

  .imgCPS {
    width: 100%;
  }

  .brand--container {
    .brand--container-text {
      margin-top: 24px;
      border-top: solid 1px #d9fff5;
      background-color: white;
      height: 80px;

      p {
        padding: 16px;
        margin: 0;
        margin-bottom: 16px;
        color: $colorText;
      }
    }
    .brand--container-swiper {
      position: relative;
      overflow: hidden;
      margin-left: 16px;

      .swiper-wrapper {
        position: relative;
        width: 100%;
        .swiper-slide {
          width: 80%;
        }
      }
      .swiper-pagination {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }
}
