@media only screen and (min-width: 320px) and (max-width: 767px) {
 

  // настройка header
  @mixin header-style-mobile {
    width: 100%;
    height: 88px;
    display: flex;
    background-color: $bgColorHeader;
    justify-content: space-evenly;
  }

  .header--mobile {
    @include header-style-mobile;

    .header--mobile__item {
      margin: auto 0;
    }

    .header--mobile-container__burger {
      border: none;
      background: none;
    }

    .header__item--divider {
      height: 32px;
    }
    .header--mobile-container {
      display: flex;
      gap: 16px;
    }
  }

  // настройка тайтла "Услуги и сервисы"
  .title__item {
    display: flex;
    margin: 25px 0 24px;

    .title__item-greenLine {
      margin-right: 12px;
    }

    h1 {
      font-family: "TTLakes Bold";
      margin: auto 0;
    }
  }

  // настройка slide-menu
  .slide--menu {
    display: flex;
    list-style-type: none;
    overflow-x: auto;

    li {
      padding: 9px 15px;
      white-space: nowrap;
      margin-right: 10px;
    }

    li:focus {
      border: 2px solid $bgColorBorder;
      border-radius: 10px;
      background-color: $bgColorLiFocus;
      color: $colorText;
    }
  }

  // настройка info
  .info {
    margin: 16px;

    .hidden-item {
      display: none;
    }
    .info-read {
      margin: 16px;

      .info-read__button {
        background: none;
        border: none;
        font-family: "TTLakes Medium";
        font-size: 16px;
      }
      #info-read__img {
        transition: transform 0.5s;
        margin-right: 8px;
      }
    }
  }
  // настройка картинки
  .imgCPS {
    width: 100%;
  }

  // настройка swiper
  .brand--container {
    .brand--container-text {
      margin-top: 24px;
      margin-bottom: 16px;
      border-top: solid 1px $colorBorderBrandContainer;
      background-color: $bgColorBrandContainer;
      height: 80px;

      p {
        padding: 16px;
        margin: 0;
        margin-bottom: 16px;
        color: $colorText;
      }
    }
    .brand--container-swiper {
      position: relative;
      overflow: hidden;
      margin-left: 16px;
      margin-right: 16px;

      .swiper-wrapper {
        position: relative;
        width: 100%;
        .swiper-slide {
          width: 80%;
        }
        .swiper-slide-next {
          filter: blur(1px);
        }
        .swiper-wrapper__item-tech {
          position: relative;
          width: 240px;
          height: 160px;
          border-radius: 5px;
          border: 1px solid #eaeaea;
          background-color: white;
          p {
            font-family: "TTLakes Medium";
            margin-top: 16px;
            margin-left: 16px;
          }
          img {
            position: absolute;
            right: 16px;
            bottom: 16px;
          }
        }
        .swiper-wrapper__item-price {
          padding: 16px;
          position: relative;
          width: 260px;
          height: 200px;
          border-radius: 5px;
          background-color: white;

          .swiper-wrapper__item-price_text {
            margin-bottom: 16px;

            .swiper-wrapper__item-price_text__title {
              color: #7e7e82;
            }
          }

          img {
            position: absolute;
            right: 16px;
            bottom: 16px;
          }
        }
      }
      .swiper-pagination {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      .swiper-pagination-bullet {
        background-color: $bgColorSwiperPagination;
        width: 10px;
        height: 10px;
      }

      .swiper-pagination-bullet-active {
        background: $bgColorSwiperPaginationActive;
      }
    }
  }

  .container-3 {
    margin-bottom: 10px;
    .brand--container-text {
      height: 56px;
    }
  }

  // настройка нижнего title
  .info {
    .info__text-bold {
      font-family: "TTLakes Medium";
      margin-top: 20px;
    }
  }

  // настройка footer
  .page__footer {
    margin-top: 40px;
    border-top: 1px solid #d9fff5;
    .page__footer-text-development {
      text-align: center;
      margin: 16px 0;
    }
    .page__footer-text-info {
      margin: 16px;
    }

    p {
      text-align: center;
    }
    color: #7e7e82;
  }
}
