$screen-size-mobileA: 320px;
$screen-size-mobileB: 767px;

$bgColorHeader: white;

$bgColorLiFocus: white;
$bgColorBorder: #b8ffec;

$bgColorBrandContainer: white;
$colorBorderBrandContainer: #d9fff5;

$bgColorSwiperPagination: #34343d;
$bgColorSwiperPaginationActive: #b5b6bc;

$colorText: #7E7E82;
